.table {
  width: 100%;
  margin-top: 16px;
  border-collapse: collapse; 
  border: 1px solid #000000;
}

.container {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

th {
  padding: 10px;
  position: relative; 
  border: 1px solid #000000;
  cursor: pointer;

  img {
    top: 40%;
    position: absolute;
    right: 5px;
  }
}

td {
  padding: 10px; 
  border: 1px solid #000000;
}